@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#root {
  --color-primary: #f2f2f2;
  --color-text: #242323;
  --color-bg2: #3c3b3b;
  --color-bg: #c8c6c5;
  --color-border: #b4b0ac;
  --color-button: #f2f2f2;
  --color-senary: #f2f2f2;
  --color-septenary: #f2f2f2;
  --color-octonary: #f2f2f2;
}
body{

  font-family:'Poppins', sans-serif !important;
 
}

* {
  background-color: var(--color-bg);
  color: var(--color-text);
  box-sizing: border-box;
  font-family:'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;
}


